# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Neon DB (Serverless PostgreSQL)
# Get your connection string from: https://console.neon.tech
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@YOUR_NEON_HOST.neon.tech/neondb?sslmode=require"
